---
import { AlternativeTeamSectionV2 } from "./alternativeTeamSectionV2";
---

<section class="relative w-screen overflow-hidden bg-black">
    <div class="relative w-full h-full">
        <AlternativeTeamSectionV2 client:visible />
    </div>
</section>
