---
import { PlatformTechnologySection } from "./PlatformTechnologySection";
---

<section class="relative w-screen overflow-hidden bg-black">
    <div class="relative w-full h-full">
        <PlatformTechnologySection client:visible />
    </div>
</section>
