---
import { AlternativeWhatWeDoSection } from "./alternativeWhatWeDoSection";
---

<section class="relative w-screen overflow-hidden bg-white">
    <div class="relative w-full h-full">
        <AlternativeWhatWeDoSection client:visible />
    </div>
</section>
