---
import { SpotlightNew } from "./ui/spotlight-new.tsx"
import Image from "astro/components/Image.astro"
import EnzymeImage from "@/assets/AdobeStock/Enzyme_AdobeStock_747938517_Compressed.png"
---
<section class="flex flex-col items-center justify-center relative w-screen min-h-screen text-white overflow-hidden py-24 px-4 sm:px-8">
    <div class="relative w-screen h-screen 
    bg-black/[0.96] antialiased bg-grid-white/[0.02]">
    <div class="absolute inset-0 flex flex-col items-center justify-center">
        <div class="relative w-1/2 aspect-video text-center border-4 border-black
        flex flex-col items-center justify-center">
        <h1 class="text-4xl md:text-7xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50">
          The Power of Enzymes <br /> 
        </h1>
            <Image src={EnzymeImage} alt="Enzyme Image" class="w-full h-full object-cover scale-[1.2] mix-blend-screen"/>
            <!-- <div class="absolute inset-0 bg-gradient-to-r from-black via-transparent to-black"></div> -->

        </div> 
    </div>
        <SpotlightNew client:visible/>
    </div>
</section>