---
import { FeatureCarousel } from "@/components/ui/animated-feature-carousel.tsx";
import type { Feature } from "@/components/ui/animated-feature-carousel.tsx";
const features: Feature[] = [
    {
        id: "PFAS",
        icon: "Atom",
        label: "PFAS",
        title: "Forever Chemicals",
        description:
            "Named after their long life cycle and extreme durability, Per- and Polyfluoroalkyl Substances            ) are a class of chemicals used in almost every industry.",
        componentName: "PFASTile",
    },
    {
        id: "electronics",
        icon: "Cpu",
        label: "Electronics",
        title: "Microchip Production",
        description:
            "Fluorinated materials are essential for the production of semiconductor wafers, ensuring high performance and reliability in modern electronics.",
        componentName: "CPUTile",
    },
    {
        id: "surfactants",
        icon: "FlaskConical",
        label: "Coatings",
        title: "Coatings & Fabrics",
        description:
            "Advanced fluorinated surfactants used in the production of high-performance coatings, adhesives, and specialized surface treatments.",
        componentName: "MaterialsTile",
    },
    {
        id: "aerospace",
        icon: "Rocket",
        label: "Aerospace",
        title: "High-Performance Materials",
        description:
            "Critical materials for the production of mechanical high-performance parts, capable of withstanding extreme conditions in aerospace applications.",
        componentName: "AerospaceTile",
    },
];
---

<div class="w-full font-sans">
    <FeatureCarousel client:load features={features} />
</div>
