---
import AnimatedCPU from "@/components/ui/oldPageComponents/AnimatedCPU.tsx";
import BioHaloLogo from "@/assets/provided_materials/BioHalo_logo_png/BioHalo-Logo-Vector_white font.png";
import {
    CPUTile,
    HalogenTile,
    SurfactantsTile,
    AerospaceTile,
} from "@/components/ui/oldPageComponents/FluorinatedMaterialsExamples";
import { ParticleImage } from "@/components/ParticleImage.tsx";
import { FeaturesSection } from "@/components/features-section-V0.tsx";
import { AlternativeIntroSectionNoBG } from "@/components/ui/oldPageComponents/alternativeIntroSectionNoBG.tsx";
---

<section
    class="flex flex-col items-center justify-center relative w-screen min-h-[100vh] text-white overflow-hidden py-24 px-4 sm:px-8"
>
    <div class="relative w-[90%] max-w-5xl">
        <FeaturesSection client:visible />

        <!-- <AlternativeIntroSectionNoBG client:visible /> -->
        <div
            class="hidden w-1/3 absolute inset-0 flex flex-col items-center justify-start"
        >
            <CPUTile client:visible />
            <HalogenTile client:visible />
            <SurfactantsTile client:visible />
            <AerospaceTile client:visible />
            <!-- <ParticleImage imageSrc={BioHaloLogo.src} /> -->

            <h1
                class="text-4xl md:text-7xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
            >
            </h1>
        </div>
    </div>
</section>
